<a href="https://colab.research.google.com/github/2277006/iot-class/blob/main/%EC%82%AC%EB%AC%BC%EC%9D%B8%ED%84%B0%EB%84%B7_0318%EA%B3%BC%EC%A0%9C_%EA%B9%80%EC%86%94%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import requests
import ssl
from bs4 import BeautifulSoup

In [46]:
url='http://apis.data.go.kr/1480523/MetalMeasuringResultService/MetalService?serviceKey=vVHroaWem2YOSZLJpHxK3wsA%2BOvzd82gljag%2F0DVtvqNmxRm5RCdoaXostNN%2FzkCMCK18hTQzPrIebl8DWlNJg%3D%3D&pageNo=1&numOfRows=10&resultType=XML&date=20171208&stationcode=1&itemcode=90303&timecode=RH02'
r = requests.get(url,verify=None)

print(r.text)
soup = BeautifulSoup(r.text, features="xml")

<?xml version="1.0" encoding="UTF-8"?>
<response>
  <header>
    <resultCode>00</resultCode>
    <resultMsg>NORMAL SERVICE</resultMsg>
  </header>
  <body>
    <items>
  <item>
    <sdate>20171208000000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>24.125</value>
  </item>
  <item>
    <sdate>20171208020000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>26.973</value>
  </item>
  <item>
    <sdate>20171208040000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>25.986</value>
  </item>
  <item>
    <sdate>20171208060000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>23.7435</value>
  </item>
  <item>
    <sdate>20171208080000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>22.9215</value>
  </item>
  <item>
    <sdate>20171208100000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>21.729</value>
  </item>
  <item>
    <sdate>20171208120000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>17.606</value>
  </item>
  <item>
    <sdate>20171208140000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>12.102</value>
  </item>
  <item>
    <sdate>20171208160000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>10.046</value>
  </item>
  <item>
    <sdate>20171208180000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>8.5985</value>
  </item>
</items>
    <numOfRows>10</numOfRows>
    <pageNo>1</pageNo>
    <totalCount>12</totalCount>
  </body>
</response>

In [49]:
soup.find_all('sdate')

[<sdate>20171208000000</sdate>,
 <sdate>20171208020000</sdate>,
 <sdate>20171208040000</sdate>,
 <sdate>20171208060000</sdate>,
 <sdate>20171208080000</sdate>,
 <sdate>20171208100000</sdate>,
 <sdate>20171208120000</sdate>,
 <sdate>20171208140000</sdate>,
 <sdate>20171208160000</sdate>,
 <sdate>20171208180000</sdate>]

In [48]:
print('학번=', 2277006, '이름=','김솔빈')

학번= 2277006 이름= 김솔빈